<footer class="footer bg-dark">
	<div class="company">
		<span>&copy;</span>
		<span
			><a
				href="http://avalontech.site"
				target="_blank"
				style="color: #fff; text-decoration: underline;"
				>Designed by Avalon</a
			></span
		>
	</div>
</footer>
