<section class="container">
	<a href="/profiles" class="btn">Back to Profiles</a>
	<div class="profile-grid my-1">
		<!-- Top -->
		<div class="profile-top bg-primary p-2">
			<img
				class="round-img"
				src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200"
				alt="image"
			/>
			<h1 class="large">Thomas Cook</h1>
			<p class="lead">Developer at Andela</p>
			<p>Abuja, Nigeria</p>
			<div class="icons my-1">
				<a href="#">
					<i class="fas fa-globe fa-2x"></i>
				</a>
				<a href="#">
					<i class="fab fa-facebook fa-2x"></i>
				</a>
				<a href="#">
					<i class="fab fa-twitter fa-2x"></i>
				</a>
				<a href="#">
					<i class="fab fa-instagram fa-2x"></i>
				</a>
				<a href="#">
					<i class="fab fa-linkedin fa-2x"></i>
				</a>
			</div>
		</div>
		<!-- End of Top -->
		<!-- About -->
		<div class="profile-about bg-light p-2">
			<h2 class="text-primary">Thomas's Bio</h2>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum
				consequatur ab beatae quas cumque quis ea harum quaerat eligendi!
				Temporibus!
			</p>
			<div class="line"></div>
			<h2 class="text-primary">Skill Set</h2>
			<div class="skills">
				<div class="p-1"><i class="fas fa-check"></i>React</div>
				<div class="p-1"><i class="fas fa-check"></i>Node</div>
				<div class="p-1"><i class="fas fa-check"></i>Android Apps</div>
				<div class="p-1"><i class="fas fa-check"></i>Python</div>
			</div>
		</div>
		<!-- End of About -->
		<!-- Experience -->
		<div class="profile-exp bg-white p-2">
			<h2 class="text-primary">Experience</h2>
			<div>
				<h3>Andela</h3>
				<p>Oct 2013 - current</p>
				<p><strong>Position: </strong>Senior Developer</p>
				<p>
					<strong>Job Description: </strong>Lorem ipsum dolor sit amet
					consectetur adipisicing elit. Rem, corporis cum error dolores placeat
					aliquid explicabo est culpa obcaecati? Dolores.
				</p>
			</div>
			<div>
				<h3>Polaris</h3>
				<p>Oct 2011-2013</p>
				<p><strong>Position: </strong>Junior Developer</p>
				<p>
					<strong>Job Description: </strong>Lorem ipsum dolor sit amet
					consectetur adipisicing elit. Rem, corporis cum error dolores placeat
					aliquid explicabo est culpa obcaecati? Dolores.
				</p>
			</div>
			<a href="/update"
				><button class="btn btn-light">Add <i class="fas fa-plus"></i></button
			></a>
		</div>
		<!-- End of Experience -->
		<!-- Education -->
		<div class="profile-edu bg-white p-2">
			<h2 class="text-primary">Education</h2>
			<div>
				<h3>Convenant University</h3>
				<p>Sept 2007 - Sept 2011</p>
				<p><strong>Degree: </strong>Bachelor's</p>
				<p><strong>Field of Study: </strong>Computer Engineering</p>
				<p>
					<strong>Description: </strong>Lorem ipsum dolor sit amet consectetur,
					adipisicing elit. Nisi necessitatibus, amet dicta corrupti iusto
					aliquam eveniet quas vitae incidunt quos?
				</p>
			</div>
		</div>
		<!-- End of education -->
		<!-- Github Repos -->
		<div class="profile-github">
			<h2 class="text-primary my-1">
				<i class="fab fa-github">Github Repos</i>
			</h2>
			<div class="repo bg-white my-1 p-1">
				<div>
					<h4><a href="https://github.com/Lihemen">Repo 0ne</a></h4>
					<p>
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum,
						quam.
					</p>
				</div>
				<div>
					<ul>
						<li class="badge badge-primary">Stars: 44</li>
						<li class="badge badge-dark">Watchers: 28</li>
						<li class="badge badge-light">Forks: 24</li>
					</ul>
				</div>
			</div>
			<div class="repo bg-white my-1 p-1">
				<div>
					<h4><a href="https://github.com/Lihemen">Repo Two</a></h4>
					<p>
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum,
						quam.
					</p>
				</div>
				<div>
					<ul>
						<li class="badge badge-primary">Stars: 44</li>
						<li class="badge badge-dark">Watchers: 28</li>
						<li class="badge badge-light">Forks: 24</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End of Github Repos -->
	</div>
</section>
