<section class="container">
	<h1 class="large text-primary">
		Developers
	</h1>
	<p class="lead">
		<i class="fab fa-connectdevelop"></i>
		Browse and connect with Developers
	</p>
	<div class="profiles">
		<div class="profile bg-light">
			<img
				class="round-img"
				src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200"
				alt=""
			/>
			<div>
				<h2>Thomas Cook</h2>
				<p>Developer at Andela</p>
				<p>Abuja, Nigeria</p>
				<a href="/profile" class="btn btn-primary">Profile</a>
			</div>

			<ul>
				<li class="text-primary">
					<i class="fas fa-check">Python</i>
				</li>
				<li class="text-primary">
					<i class="fas fa-check">Java</i>
				</li>
				<li class="text-primary">
					<i class="fas fa-check">CSS</i>
				</li>
				<li class="text-primary">
					<i class="fas fa-check">C#</i>
				</li>
			</ul>
		</div>
		<div class="profile bg-light">
			<img
				class="round-img"
				src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200"
				alt=""
			/>
			<div>
				<h2>Thomas Cook</h2>
				<p>Developer at Andela</p>
				<p>Abuja, Nigeria</p>
				<a href="/profile" class="btn btn-primary">Profile</a>
			</div>

			<ul>
				<li class="text-primary">
					<i class="fas fa-check">Python</i>
				</li>
				<li class="text-primary">
					<i class="fas fa-check">Java</i>
				</li>
				<li class="text-primary">
					<i class="fas fa-check">CSS</i>
				</li>
				<li class="text-primary">
					<i class="fas fa-check">C#</i>
				</li>
			</ul>
		</div>
	</div>
</section>
