<section class="register">
	<h1 class="large text-primary">
		Sign Up
	</h1>
	<p class="lead"><i class="fas fa-user"></i>Create Your Account</p>
	<form action="/register" class="form" method="POST" id="register">
		<div class="form-group">
			<input type="text" placeholder="Name" required name="name" />
		</div>
		<div class="form-group">
			<input type="email" placeholder="Email Address" required name="email" />
			<small class="text-danger"
				>This site uses gravatar, so if you want a profile image, use a Gravatar
				email</small
			>
		</div>
		<div class="form-group">
			<input
				type="password"
				placeholder="Password"
				minlength="8"
				required
				name="password"
			/>
		</div>
		<div class="form-group">
			<input
				type="password"
				placeholder="Confirm Password"
				minlength="8"
				required
				name="confirmPassword"
			/>
		</div>
		<div class="button">
			<input type="submit" value="Register" class="btn btn-primary" />
		</div>
	</form>
	<p class="my-1">Already have an account?<a href="/login">Sign in</a></p>
</section>
