input {
	outline: none !important;
}

.register {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.register .button {
	display: flex;
	align-items: center;
	justify-content: center;
}
.login {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* width: 760px; */
}
.login .button {
	display: flex;
	align-items: center;
	justify-content: center;
}
.login input {
	width: 30vw;
}
/* 
* helpers and breakpoints
*/
@media (max-width: 1024px) {
	.hide-lg-down {
		display: none;
	}
}
@media (max-width: 760px) {
	.hide-md-down {
		display: none;
	}
}
@media (max-width: 376px) {
	.hide-sm-down {
		display: none;
	}
}
@media (min-width: 376px) {
	.hide-sm-up {
		display: none;
	}
}
@media (min-width: 760px) {
	.hide-md-up {
		display: none;
	}
}
@media (min-width: 1024px) {
	.hide-lg-up {
		display: none;
	}
}
@media (max-width: 760px) {
	.hide-md-down {
		display: none;
	}
}
/* 
* end of helpers and breakpoints
*/

.footer {
	position: fixed;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.footer .company {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0;
}
